In [1]:
#Import the libraries needed to run the code
import pandas as pd
import sqlalchemy as sa
import plotly.express as px
import plotly.graph_objects as go
from sqlalchemy.engine import create_engine

In [2]:
# Connecting to the HPlusSport database
engine = create_engine("mysql+pymysql://mariadb:mariadb@localhost/hplussport?charset=utf8mb4")
connection = engine.connect()

In [5]:
#Let's take a peak at our data. This code shows the first 5 records
df = pd.read_sql_query("SELECT * FROM V_CustomerOrderSummary",
                       connection)
df.head()

   OrderDate   Salesperson  Amount of Orders  Total Due
0 2015-06-05   Jane Larson                 1     166.99
1 2015-06-07      Sara Cox                 1     192.79
2 2015-06-08   Jack Powell                 1      62.65
3 2015-06-13  Carlos James                 1     201.36
4 2015-06-13   James Ortiz                 1      22.03

In [6]:
#Now we'll make a simple bar chart of sales by year
fig = px.bar(df, x='State', y='Total_Sales')
fig.show()

ValueError: Value of 'x' is not the name of a column in 'data_frame'. Expected one of ['OrderDate', 'Salesperson', 'Amount of Orders', 'Total Due'] but received: State

In [7]:
# Create a Web-based Dashboard using Dash
import dash
from dash import dcc
from dash import html

fig = go.Figure()

fig.add_trace(
    go.Bar(x=list(df.State),
        y=list(df.Total_Sales),
        name='Total Sales',
        text=list(df.Total_Sales.round(1)),
           textposition="auto"))

fig.add_trace(
    go.Bar(x=list(df.State),
           y=list(df.Avg_Due),
           name='Average Sales',
           text=list(df.Avg_Due.round(1)),
           textposition="auto"))

fig.add_trace(
    go.Bar(x=list(df.State),
           y=list(df.Min_Due),
           name='Min Sales',
           text=list(df.Min_Due.round(1)),
           textposition="auto"))

fig.add_trace(
    go.Bar(x=list(df.State),
           y=list(df.Max_Due),
           name='Max Sales',
           text=list(df.Max_Due.round(1)),
           textposition="auto"))

label_list = [
    dict(label='Total Sales',
          method="update",
        args=[{"visible": [True, False, False, False]},
               {"title": "H Plus Sport Order Summary",
                "annotations": []}]),
    dict(label='Average Sales',
         method="update",
         args=[{"visible": [False, True, False, False]},
               {"title": "H Plus Sport Order Summary",
               "annotations": []}]),
    dict(label='Min Sales',
          method="update",
        args=[{"visible": [False, False, True, False]},
               {"title": "H Plus Sport Order Summary",
                "annotations": []}]),
    dict(label='Max Sales',
         method="update",
         args=[{"visible": [False, False, False, True]},
               {"title": "H Plus Sport Order Summary",
               "annotations": []}])
]
    
fig.update_layout(
    updatemenus=[
        dict(
            active=0,
            buttons=label_list,
        )
    ])
app = dash.Dash()
app.layout = html.Div([
    dcc.Graph(figure=fig)
])

app.run_server(debug=True, use_reloader=False)

In the VSCode browser, go the the Main Menu icon on the far left at the top. Go to Terminal and Choose New Terminal. Ports. In the Terminal Window, go to the Ports tab. Find Port 8080, right click, and choose "Open In Browser" to view the dashboard. 

![Ports View](../images/ports.png)

![Open In Browser](../images/open-in-browser.png)

Below is an image of the dashboard.
![Example Dashbaord](../images/create-a-dashboard-example.png)